<div class="container">
    <h2>Generate Facture</h2>
    
    <form (ngSubmit)="generateFacture()">
      <div class="form-group">
        <label for="bonCommande">BonCommande</label>
        <select id="bonCommande" [(ngModel)]="facture.bonCommande" name="bonCommande" class="form-control" required>
          <option *ngFor="let bonCommande of bonCommandes" [ngValue]="bonCommande">{{ bonCommande.idBonCommande }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dateFacture">Date Facture</label>
        <input type="date" id="dateFacture" [(ngModel)]="facture.dateFactureClient" name="dateFacture" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Generate Facture</button>
    </form>
  </div>
  