<section class="vh-100" style="background-color: #1a2035;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; overflow: hidden;">
          <div class="row g-0">
            <!-- Image Column -->
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img 
                src="../../../assets/img/code.jpg" 
                alt="activation form" 
                class="img-fluid" 
                style="object-fit: cover; width: 100%; height: 100%; border-radius: 1rem 0 0 1rem;" 
              />
            </div>
            <!-- Form Column -->
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="container" *ngIf="submitted else codeForm">
                  <div class="activation-message" *ngIf="isOkay; else activationError">
                    <h2>Activation Successful!</h2>
                    <p>Your account has been successfully activated.</p>
                    <button class="btn btn-primary" (click)="redirectToLogin()">Go to Login</button>
                  </div>
                  <ng-template #activationError>
                    <div class="activation-error">
                      <h2>Activation Failed!</h2>
                      <p>{{ message }}</p>
                      <button class="btn btn-primary" (click)="submitted = false">Try again</button>
                    </div>
                  </ng-template>
                </div>
                <ng-template #codeForm>
                  <div class="container">
                    <div class="text-center" style="width: 400px;">
                      <h2>Type your activation code</h2>
                      <code-input [isCodeHidden]="false"
                                  [codeLength]="6"
                                  [code]="'number'"
                                  (codeCompleted)="onCodeCompleted($event)">
                      </code-input>
                      <button class="btn btn-primary mt-3" (click)="redirectToLogin()">Go to Login</button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
