<footer class="footer footer-dark">
    <div class="container">
        <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                About us 
              </h6>
              <p>
                Une application de facturation et de gestion de stock pour une gestion efficace et précise des ventes, achats, stocks et factures.
              </p>
               <!-- Copyright -->
               <p>
                © 2020 Copyright
              </p>
              <!-- END Copyright -->
            </div>
            <!-- END Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Navigation</h6>
              <p><a>Dashboard</a></p>
              <p><a>Factures</a></p>
              <p><a>Products</a></p>
            </div>
            <!-- END Grid column -->

            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Pôle Technologique - El Ghazala</p>
              <p><i class="fas fa-envelope mr-3"></i> ghofrane.rahmouni&#64;esprit.tn</p>
              <p><i class="fas fa-envelope mr-3"></i> brahim&#64;esprit.tn</p>
            </div>
            <!-- END Grid column -->
          </div>
        </section>
      </div>
    </div>
  </footer>