<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Product Management</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a routerLink="/dashboard">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a routerLink="/produit">Products</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ editingProduit ? 'Edit' : 'Add' }} Product</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="produitForm" (ngSubmit)="editingProduit ? updateProduit() : addProduit()">
              <div class="form-group">
                <label for="nomProduit">Product Name</label>
                <input
                  type="text"
                  id="nomProduit"
                  formControlName="nomProduit"
                  class="form-control"
                  placeholder="Enter product name"
                />
                <div *ngIf="produitForm.get('nomProduit')?.invalid && produitForm.get('nomProduit')?.touched" class="text-danger">
                  Product name is required
                </div>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  formControlName="description"
                  class="form-control"
                  placeholder="Enter product description"
                ></textarea>
                <div *ngIf="produitForm.get('description')?.invalid && produitForm.get('description')?.touched" class="text-danger">
                  Description is required
                </div>
              </div>

              <div class="form-group">
                <label for="quantite">Quantity</label>
                <input type="number" id="quantite" formControlName="quantite" class="form-control" placeholder="Enter quantite">
                
                <div *ngIf="produitForm.get('quantite')?.invalid && produitForm.get('quantite')?.touched" class="text-danger">
                  Valid quantity is required
                </div>
              </div>
              

              <div class="form-group">
                <label for="prixUnitaire">Unit Price</label>
                <input
                  type="number"
                  id="prixUnitaire"
                  formControlName="prixUnitaire"
                  class="form-control"
                  placeholder="Enter unit price"
                />
                <div *ngIf="produitForm.get('prixUnitaire')?.invalid && produitForm.get('prixUnitaire')?.touched" class="text-danger">
                  Valid unit price is required
                </div>
              </div>

              <div class="form-group">
                <label for="categorieId">Category</label>
                <select
                  id="categorieId"
                  formControlName="categorieId"
                  class="form-control"
                >
                  <option *ngFor="let category of categories" [value]="category.idCategorie">
                    {{ category.nomCategorie }}
                  </option>
                </select>
                <div *ngIf="produitForm.get('categorieId')?.invalid && produitForm.get('categorieId')?.touched" class="text-danger">
                  Category is required
                </div>
              </div>

              <div class="form-group">
                <label for="stockId">Stock</label>
                <select
                  id="stockId"
                  formControlName="stockId"
                  class="form-control"
                >
                  <option *ngFor="let stock of stocks" [value]="stock.idStock">
                    {{ stock.label }}
                  </option>
                </select>
                <div *ngIf="produitForm.get('stockId')?.invalid && produitForm.get('stockId')?.touched" class="text-danger">
                  Stock is required
                </div>
              </div>

              <div class="form-group">
                <label for="logo">Logo</label>
                <input
                  type="file"
                  id="logo"
                  (change)="onFileSelected($event)"
                  class="form-control"
                />
                <div *ngIf="produitForm.get('logo')?.invalid && produitForm.get('logo')?.touched" class="text-danger">
                  Logo is required
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="produitForm.invalid">{{ editingProduit ? 'Update' : 'Add' }} Product</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Products List -->
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List Products</h4>
            <input
              type="text"
              class="form-control"
              placeholder="Search by product name or description"
              [(ngModel)]="searchTerm"
              (ngModelChange)="filterProducts()"
            />
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="basic-datatables" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th> <!-- New Column -->
                    <th>Price</th>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of paginatedProduits">
                    <td>{{ produit.nomProduit }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.codeAB }}</td>
                    <td>{{ produit.categorie.nomCategorie }}</td>
                    <td>{{ produit.stock.label }}</td>
                    <td>
                      <button class="btn btn-primary" (click)="editProduct(produit)">Edit</button>
                      <button class="btn btn-danger" (click)="deleteProduct(produit.idProduit)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination mt-3">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
                  <a class="page-link" [class.active]="isActivePage(i + 1)" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
